//
// Callouts
//

.bd-callout {
  @include border-radius();

  h4 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    @include border-radius();
  }

}

// Variations
@mixin bs-callout-variant($color) {
  border-left-color: $color;

  h4 { color: $color; }
}

.bd-callout-info { @include bs-callout-variant($bd-info); }
.bd-callout-warning { @include bs-callout-variant($bd-warning); }
.bd-callout-danger { @include bs-callout-variant($bd-danger); }
