//
// Wells
// --------------------------------------------------


// Base class
.well {
  color: @white;
  padding: @baseLineHeight @baseWidth;
  margin-bottom: @baseLineHeight;
  background-color: @well-bg;
  blockquote {
  }
}

// Sizes
.well-lg {
  padding: (@ts * 2) (@rhs * 2) (@bs * 2) (@lhs * 2);
  border-radius: @border-radius-large;
}
.well-sm {
  padding: @ts @rhs @bs @lhs;
  border-radius: @border-radius-small;
}
