//
// Wells
// --------------------------------------------------


// Base class
.well {
  padding: 19px;
  margin-bottom: @baseLineHeight;
  background-color: @well-bg;
  /*border: 1px solid @well-border;*/
  border-radius: @border-radius-base;
  blockquote {
    border-color: @white;
  }
}

// Sizes
.well-lg {
  padding: (@ts * 2) (@rhs * 2) (@bs * 2) (@lhs * 2);
  border-radius: @border-radius-large;
}
.well-sm {
  padding: @ts @rhs @bs @lhs;
  border-radius: @border-radius-small;
}
