// Inline code
code {
  color: $code-color;
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

// User input typically entered via keyboard
kbd {
  padding: $line-height $space-width;
  color: $kbd-color;
  background-color: $kbd-bg;

  kbd {
    padding: 0;
    font-weight: $nested-kbd-font-weight;
  }
}

// Blocks of code
pre {
  display: block;
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    @include font-size(inherit);
    color: inherit;
    word-break: normal;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}
