@mixin dos-border-single($color: $black, $extra: 0, $character-space: 0) {
  border: $btn-border-width solid $color;
  // In dos world, the left and right are actually a bit thicker.
  border-left-width: 2px;
  border-right-width: 2px;
  padding: $extra + ($line-height-base / 2 - .5) (($character-space + .5) * $space-width - .5);
  margin-top: $line-height-base / 2 - .5;
  margin-left: $space-width / 2 - 1.5;
  margin-bottom: $extra + $line-height-base;
}
@mixin dos-border-double($color: $black, $extra:0) {
  border: 3px double $color;
  padding: $extra + ($line-height-base / 2 - 2.5) (1.5 * $space-width - 1) $extra + ($line-height-base / 2 - 1.5);
  margin-top: $line-height-base / 2 - 1;
  margin-right: -1px;
  margin-bottom: $extra + $line-height-base - 1;
  margin-left: $space-width / 2 - 1.5;
}

@mixin dos-shadow($color: black) {
  filter: drop-shadow($line-height-base / 2 $space-width 0 $color);
  margin-right: $space-width / 2 + 1;
}

@mixin dos-border-background($color: $grayLight, $borderSize: 1) {
  $spacer: (($space-width - $borderSize) / 2);
  box-shadow: 
    0 (-$line-height-base / 2 + $borderSize + 4) 0 $spacer - .5 $color,
    0 ($line-height-base / 2 - 4) 0 $spacer - .5 $color,
    0   0   0 $spacer - .5 $color;
}
@mixin dos-border-background-inset($color: $grayLight, $borderSize: 1) {
  $spacer: (($space-width - $borderSize) / 2);
  box-shadow: 
    inset 0 (-$line-height-base / 2 + $spacer) 0 $spacer - .5 pink, //$color,
    inset 0 ($line-height-base / 2 - $spacer) 0 $spacer - .5 orange, //$color,
    0 (-$line-height-base / 2 + $borderSize + 4) 0 $spacer - .5 purple, //$color,
    0 ($line-height-base / 2 - 4) 0 $spacer - .5 red,
    0   0   0 $spacer - .5 $color;
}

@mixin dos-solid-border($color, $character-space:0) {
  @include dos-border-single($character-space: $character-space);
  @include dos-border-background($color: $color);
}
@mixin dos-border-off() {
  border: 0;
  box-shadow: 0;
  padding: 0;
  margin-left: 0;
  margin-bottom: 0;
}


