@mixin dos-basic-border($color: $black, $extra:0) {
  border: $btn-border-width solid $color;
  padding: $extra + ($line-height-base / 2 - .5) (1.5 * $space-width);
  margin-left: $space-width / 2 - .5;
  margin-bottom: $extra + $line-height-base;
}
@mixin dos-double-border($color: $black, $extra:0) {
  border: 3px double $color;
  padding: $extra + ($line-height-base / 2 - 2.5) (1.5 * $space-width - 1) $extra + ($line-height-base / 2 - 1.5);
  margin-top: 0;
  margin-right: -1px;
  margin-bottom: $extra + $line-height-base - 1;
  margin-left: $space-width / 2 - 1.5;
}

@mixin dos-shadow($color: $black) {
  // this kind of crazy hackery is why this thing has like 6,000 stars...
  box-shadow: 
    0 (-$line-height-base / 2 + ($space-width / 2 - 1)) 0 ($space-width / 2 - 1) $color,
    0 ($line-height-base / 2 - ($space-width / 2)) 0 ($space-width / 2 - 1) $color,
    0   0   0 ($space-width / 2 - 1) $color;
}
@mixin dos-solid-border($color, $extra:0) {
  @include dos-basic-border();
  @include dos-shadow($color);
}
@mixin dos-border-off() {
  border: 0;
  box-shadow: 0;
  padding: 0;
  margin-left: 0;
  margin-bottom: 0;
}


