@mixin dos-border-single($color: $black, $extra: 0, $character-space: 0) {
  // In dos world, the left and right are actually a bit thicker.

  border: (1/16 * $line-height) solid $color;

  //            1/16
  margin-top:   8/16 * $line-height;
  padding-top: (7/16 + $extra) * $line-height;

  //               1/16
  padding-bottom: (8/16 + $extra) * $line-height;
  margin-bottom:   7/16 * $line-height;

  border-left-width: (4/16 * $space-width);
  border-right-width: (4/16 * $space-width);

  //             4/16
  margin-left:   7/16 * $space-width;
  padding-left: (5/16 + 1) * $space-width;

  //              4/16
  padding-right: (7/16 + 1) * $space-width;
  margin-right:   5/16 * $space-width;
}

@mixin dos-shadow($color: black) {
  filter: drop-shadow($line-height / 2 $space-width 0 $color);
  margin-right: (1 + 5/16) * $space-width;
}

@mixin dos-border-background($color: $grayLight) {
  // Here's essentially the problem. Given the above calculations we want
  // the margin to be the border.
  // That means we really want this:
  //
  //      8/16
  //  7/16    5/16
  //      7/16
  //
  // This isn't really how box-shadow works ... there's two ways to do it.
  // We'll start out with the easy one, which is to make the size 0.
  // in this model we just hit the 4 corners and wish for the best.
  // 
  // To see this in action, replace the "color" with 4 different colors 
  //
  // There's another crazier way to do this where all you need are 2
  // but I don't feel like doing that math right now.
  box-shadow: 
    (-7/16 * $space-width) (-8/16 * $line-height) 0 0 $color,
    ( 5/16 * $space-width) ( 7/16 * $line-height) 0 0 $color,
    (-7/16 * $space-width) ( 7/16 * $line-height) 0 0 $color,
    ( 5/16 * $space-width) (-8/16 * $line-height) 0 0 $color;
}
@mixin dos-border-background-inset($color: $grayLight, $borderSize: 1) {
  $spacer: (($space-width - $borderSize) / 2);
  box-shadow: 
    inset 0 (-$line-height / 2 + $spacer) 0 $spacer - .5 $color,
    inset 0 ($line-height / 2 - $spacer) 0 $spacer - .5 $color,
    (-7/16 * $space-width) (-8/16 * $line-height) 0 0 $color,
    ( 5/16 * $space-width) ( 7/16 * $line-height) 0 0 $color,
    (-7/16 * $space-width) ( 7/16 * $line-height) 0 0 $color,
    ( 5/16 * $space-width) (-8/16 * $line-height) 0 0 $color;
}

@mixin dos-solid-border($color, $character-space:0) {
  @include dos-border-single($character-space: $character-space);
  @include dos-border-background($color: $color);
}
@mixin dos-border-off($direction: 'all') {
  @if $direction == 'bottom' {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  } 
  @else { 
    border: 0;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  box-shadow: 0;
}


